
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.button{
    padding: 50px;
    margin-inline:20px ;
    border-radius: 10px;
    
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}
#pink{
    background-color: pink;
}